$def with ( target, types, free_servers, selected_servers, content )
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>New Environment Definition</h3>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Environment Details <small>basic definition</small></h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li><a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<form id="add_environment" action="environment_form_$target" method="POST" data-parsley-validate="" class="form-horizontal form-label-left">

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<input type="text" class="form-control has-feedback-left" id="machine-address" name="name" required="" placeholder="Full Test Check"
									$if len( content ) != 0:
										value="$content[0]" 
									>
									<span class="fa fa-database form-control-feedback left" aria-hidden="true"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<textarea class="resizable_textarea form-control" name="desc" placeholder="Services are subjected to all test check environments" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px; margin-left: 0px; margin-right: 0px;"
										$if len( content ) != 0 :
											>$content[1]</textarea>
										$else:
											></textarea>

								</div>
							</div>



							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12">Environment Type</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="type" class="select2_single form-control" tabindex="-1" required="">
										<option></option>
										$for t in types:
											<option 
											$if len( content ) != 0:
												$if content[2] == t[0]:
													selected="" 
											value="$t[0]">$t[0] - $t[1]</option>

									</select>
								</div>
							</div>

							<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">Select Servers</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<select name="servers" class="select2_multiple form-control" multiple="multiple">
										$for srv in free_servers:
											<option 
											$if srv[0] in selected_servers:
												selected="" 
											value="$srv[0]">$srv[1]</option>
									</select>
								</div>
							</div>

							<div class="ln_solid"></div>

							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button type="submit" class="btn btn-success">Submit</button>
									<a href="environments.html" class="btn btn-primary">Cancel</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
