$def with (usr_table)
        <!-- Inner page only to be included with nav bar -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>User Access Management <small>Manage user access and group membership</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12"> <!--User Table-->
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Users <small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                    </p>
                    <table id="user_datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Firstname</th>
                          <th>Lastname</th>
                          <th>Email</th>
                          <th>Position</th>
                          <th>Team</th>
                        </tr>
                      </thead>


                      <tbody>
                      $for usr in usr_table:
                        <tr>
                          <td>$usr[1]</td>
                          <td>$usr[4]</td>
                          <td>$usr[5]</td>
                          <td>$usr[6]</td>
                          <td>TEST</td>
                          <td>TEST</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-plus-circle"></i></button>
                </div>
              </div> <!--User Table-->

              
              <!-- Modal dialog to add users -->
              <div style="display: none; left:20%; outline: none;" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">Create New User <small>Insert user details</small></h4>
                    </div> <!--Model Header -->

                    <div class="modal-body">
                              <br />
                              <form id="demo-form2" action="add_user.py" method="POST" data-parsley-validate class="form-horizontal form-label-left">

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Username <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="username" required="required" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="first_name" required="required" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="last_name" required="required" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">E-mail <span class="required">*</span>
                                  </label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="email" required="required" class="form-control col-md-7 col-xs-12">
                                  </div>
                                </div>



                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Password <span class="required">*</span>
                                  </label>
                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input type="password" name="password" class="form-control col-md-4 col-xs-12" placeholder="Password">
                                  </div>


                                  <div class="col-md-3 col-sm-6 col-xs-12">
                                    <input type="password" class="form-control col-md-4 col-xs-12" name="cpassword" placeholder="Confirm Password">
                                  </div>
                                </div>




                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Groups membership</label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="groups" class="select2_multiple form-control" multiple="multiple">
                                      <option value="111">Developer</option>
                                      <option value="112">Promoter</option>
                                      <option value="123">Admin</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="reset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                                  </div>
                                </div>
                              </form>
                    </div> <!-- Modal body -->

                  </div> <!-- Modal Content -->
                </div>
              </div> <!-- Add user modal dialog -->

              <div class="col-md-12 col-sm-12 col-xs-12"> <!--Group Table-->
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Groups <small>User Groups</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                    </p>
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Firstname</th>
                          <th>Lastname</th>
                          <th>Email</th>
                          <th>Position</th>
                          <th>Team</th>
                        </tr>
                      </thead>


                      <tbody>
                      $for usr in usr_table:
                        <tr>
                          <td>$usr[1]</td>
                          <td>$usr[4]</td>
                          <td>$usr[5]</td>
                          <td>$usr[6]</td>
                          <td>TEST</td>
                          <td>TEST</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div> <!--Group Table-->


            </div>
          </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>

        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

        <script>
          $$(document).ready(function() {
            $$('#user_datatable').DataTable( {
              "scrollY":        "200px",
              "scrollCollapse": true,
              "paging":         false
            } );
          } );
        </script>
        <!-- /page content -->