$def with ( paths )
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Path Name</th>
							<th>Length</th>
							<th>Development</th>
							<th>Testing</th>
							<th>Staging</th>
							<th>Live</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						$for path in paths:
							<tr>
								$for i in path:
									<td>$i</td>
								<td>
									<a href="/path_details_$path[0]" class="btn btn-success btn-xs"> View <i class="fa fa-search"></i></a>
									<a href="/path_delete_$path[0]" class="btn btn-danger btn-xs"> Delete <i class="fa fa-search"></i></a>
								</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>