#Adding Configuration File

version = "1.0.0.1";

serviceInfo = 
{
	workingDirectory = "./pFactorise/";
    mainScript = "pFactorise.py";
	language = "PYTHON"
	poolSize = 2;
	HTTP_Status = 303;
	GET_HTML = "www.google.com";
};